<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <canvas></canvas>
    <script src="/js/app.js"></script>
  </body>
</html>